{% extends "base.html" %}

{% block content %}

<body>
<div id="map"></div>
<script>
    var map;

    function initMap() {


        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 34.226, lng: -77.925},
            zoom: 13
        });


        {% if reports %}
        var points = JSON.parse('{{ reports|tojson }}');

        for (var i = 0; i < points.length; i++) {

            type_desc = sev_desc = "unknown"
            icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
            mstrokeOpacity = 1.0
            mstrokeColor = '#000000'
            mfillOpacity = 0.0
            mfillColor = '#000000'

            if(points[i].severity) {
                sev_desc = points[i].severity.description;
                switch(points[i].severity.name) {
                    case "high":
                        mfillOpacity = 0.9
                        break;
                    case "low":
                        mfillOpacity = 0.3
                        break;
                    default:
                        mfillOpacity = 0.4
                }
            }

            if(points[i].type) {
                type_desc = points[i].type.name;
                switch(points[i].type.name) {
                    case "fire":
                        mstrokeColor = mfillColor = '#FF0000'
                        icon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                        break;
                    case "flood":
                        mstrokeColor = mfillColor = '#0000FF'
                        icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                        break;
                    default:
                        mstrokeColor = mfillColor = '#00FF00'

                }
            }


            var cityCircle = new google.maps.Circle({
                strokeColor: mstrokeColor,
                strokeOpacity: mstrokeOpacity,
                strokeWeight: 2,
                fillColor: mfillColor,
                fillOpacity: mfillOpacity,
                map: map,
                center: new google.maps.LatLng(points[i].latitude, points[i].longitude),
                radius: 200
            });

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(points[i].latitude, points[i].longitude),
                map: map,
                icon: icon,
                title: type_desc + ' - ' + sev_desc
            });
        }

        {% endif %}
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPnHhHNfCzncr_KHqsHSLRXCRd2oPaQx4&callback=initMap"
        async defer></script>
{% endblock %}
